<ul>
  <li><a routerLink="/home" >Home</a></li>
  <li><a routerLink="/simple" >Simple Example</a></li>
  <li><a routerLink="/ngmodel" >Ng Model Example</a></li>
  <li><a routerLink="/form-control" >Reactive Forms Example</a></li>
  <li><a routerLink="/no-animations" >No enter and exit animation example</a></li>
  <li><a routerLink="/closed" >Inital state is closed</a></li>
  <li><a routerLink="/collapsible" >Blocked collapsing toggle of the color picker</a></li>
</ul>

<router-outlet></router-outlet>
